.container {
    display: inline-block;
    justify-content: space-around;
    border: 1px solid #f70000;
}

.container div{
    background: black;
    color: azure;
    border: 1px solid #fff;
    padding:5%;
    margin: 5px;
    text-align: center;
    flex: auto;
    
}